@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Roboto', sans-serif;
}
body {
background:rgb(108, 108, 250);
}
.form {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:480px;
height:370px;
background:#fdfdfd;
}
.form .head {
width:100%;
height:55px;
display:flex;
}
.form .head > div {
width:50%;
height:100%;
text-align:center;
font-size:20px;
line-height:55px;
cursor:pointer;
background:transparent;
}
.form .head.signup > div:nth-child(1),.form .head > div:nth-child(2) {
background:rgb(206, 204, 204);
transition: all .3s ease-in-out;
}
.form .head.signup > div:nth-child(2) {
background:transparent !important;
transition: all .3s ease-in-out;
}
.form .body .form-row {
border-top:1px solid #ccc;
border-top:1px solid #ccc;
}
.form .body .form-row input {
border: none;
outline: none;
border-bottom: 2px solid black;
width:95%;
height:25px;
margin: 5px;
margin-top: 10px;
font-size:18px;
text-indent:38px;
}
.form .body .form-row input:focus {
border-bottom: 2px solid rgb(34, 205, 235);
transition: all .2s ease-in-out;
}
.form .body .form-row button {
width:40%;
border:none;
outline:none;
border-radius: 15px;
background:#ad0984;
margin-left: 30%;
margin-top: 10px;
height:45px;
text-transform:uppercase;
color:#fcfcfc;
font-size:22px;
cursor:pointer;
}
.form .body .span {
text-align:center;
padding:10px;
font-size:20px;
position:relative;
color:rgb(235, 3, 3);
font-weight:bold;
}
.footer {
position: absolute;
width: 70%;
font-size: 22px;
padding-left: 180px;
}
.footer > div.social {
position: relative;
float:left;
color:#fff;
font-size:30px;
cursor:pointer;
}
.footer i {
position: relative;
width:60px;
height:40px;
left:0px;
line-height:40px;
background:rgba(0,0,0,0.3);
text-align:center;
}
.footer .facebook {
background:#3b5998;
}
.footer .google {
background:#dd4b39;
}
.form-row > i.fa
{
position: relative;
top: 32px;
left: 12px;
font-size: 25px;
color: #11074e;
}